.blog-wrapper {
  position: relative;
  max-width: 100rem;
  margin: auto;
  padding: 1.5rem;

  .card {
    position: relative;
    padding: 0.5rem 1.5rem 1.5rem 0.5rem;
    background: white;
    border-bottom: 1px dashed $gray-600;
  }

  .paginator .next {
    float: right;
  }
}

.blog-single {
  position: relative;
  max-width: 80rem;
  margin: auto;
  padding: 1.5rem;

  .blog-toc {
    top: 4rem;
    height: auto;
    overflow-y: auto;

    details {
      padding: 0px;
      border: 1.5px dashed $gray-600;
      border-radius: 20px;
    }

    details summary {
        cursor: zoom-in;
        margin-inline-start: 20px;
    }

    details[open] summary {
        cursor: zoom-out;
    }

    .details {
        display: inline;
        font-weight: 500;
    }

    .inner {
        margin: 0 20px;
        padding: 10px 20px;
    }

    a {
      display: block;
      font-size: 1.50rem;
    }
 

    a:hover {
      text-decoration: none;
      color: $fg-color;
    }
  }

  .related-resources {
    margin-top: 3rem;
    border-top: 1px solid $fg-color;
  }

}

.paginator {
  margin-top: 3rem;
  height: 3rem;
}

.paginator .next {
  float: right;
}

.blog-content {
  p img {
    border-radius: 0.6rem;
  }

  a {
    //box-shadow: 0 1px;
    text-decoration: none;
    color: $gray-800;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
}

.comments {
  margin-top: 2rem;
}